body {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.row1 {
  flex: 0.3;
  height: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  justify-content: center;
}
.search {
  height: 40px;
  width: 700px;
  border: 5px solid white;
  background: whitesmoke;
  justify-content: center;
  margin: auto;
  border: 1px solid;
}
input {
  font-size: 16px;
  width: 630px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}
button {
  width: 50px;
  height: 100%;
  border: 0px;
  outline: none;
  float: right;
}
.row2 {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.row3 {
  overflow: auto;
}
@media screen and (max-width: 768) {
  .row2 {
    flex-direction: column;
  }
  .top-menu {
    flex-direction: column;
  }
  .li {
    padding: 0px 30px;
  }
}
.top-menu {
  display: flex;
  color: white;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  float: left;
  justify-content: center;
  margin: 5px auto;
  padding: 0;
}
li {
  text-decoration: none;
  color: black;
  padding-right: 60px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  display: inline;
}
#Card_News {
  height: 80vh;
  background: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  height: 300px;
  margin: 30px;
  width: 300px;
  border: 1px solid;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-0:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-2:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-4:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-5:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.Card_Container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
